<a href="https://colab.research.google.com/github/thisisnitish/heart_failure_prediction/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Heart Failure Prediction using KNN algorithm with hyperparametertuning.

In [1]:
import pandas as pd
import numpy as np
from warnings import filterwarnings

**Reading the datasets using**

In [2]:
df=pd.read_csv("./heart_failure_clinical_records_dataset.csv")

**Viewing the first 5 rows from the dataset to get the intuition**

In [3]:
df.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

**Checking whether there is missing data or not, if not then it can proceed to the Exploratory Data Analysis (EDA) stage.**

In [4]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [5]:
y=df["DEATH_EVENT"]

In [6]:
x=df.drop("DEATH_EVENT",axis=1)

In [7]:
x.drop("time",axis=1,inplace=True)

**After dropping the column we are again checking the value.**

In [8]:
x.head()

    age  anaemia  creatinine_phosphokinase  ...  serum_sodium  sex  smoking
0  75.0        0                       582  ...           130    1        0
1  55.0        0                      7861  ...           136    1        0
2  65.0        0                       146  ...           129    1        1
3  50.0        1                       111  ...           137    1        0
4  65.0        1                       160  ...           116    0        0

[5 rows x 11 columns]

In [9]:
from sklearn.model_selection import train_test_split

Now we are splitting the dataset in to training dataset and test dataset. And after that we will perform data fitting, some transformation and then using the model KNeighborsClassifier inorder to tune the hyperparameter.

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler=MinMaxScaler()

In [13]:
x_train=scaler.fit_transform(x_train)

In [14]:
x_test=scaler.transform(x_test)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [16]:
model=KNeighborsClassifier()

In [17]:
k_range=list(range(1,150))
param_grid=dict(n_neighbors=k_range)

In [18]:
#using the GridSearch
hyperpara=GridSearchCV(model,param_grid,cv=5,return_train_score=True)

In [19]:
# fit the model
hyperpara.fit(x_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                         23, 24, 25, 26, 27, 28, 29, 30, ...]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=0)

In [20]:
pd.DataFrame(hyperpara.cv_results_).sort_values("mean_test_score",ascending=False)

    mean_fit_time  std_fit_time  ...  mean_train_score  std_train_score
14       0.001027      0.000053  ...          0.697699         0.005104
24       0.001096      0.000169  ...          0.663176         0.005519
21       0.001047      0.000111  ...          0.661087         0.002036
20       0.001073      0.000118  ...          0.673642         0.002212
16       0.001097      0.000159  ...          0.682014         0.005787
..            ...           ...  ...               ...              ...
12       0.001053      0.000140  ...          0.696657         0.011815
6        0.000897      0.000030  ...          0.717588         0.010547
4        0.000908      0.000037  ...          0.737435         0.009351
0        0.001386      0.000922  ...          1.000000         0.000000
2        0.000870      0.000035  ...          0.801254         0.007416

[149 rows x 21 columns]

**Fitting KNN classifier to the training data and finding the accuracy**

In [21]:
'''
Now we will fit the K-NN classifier to the training data. we have already 
imported the KNeighborsClassifier class of Sklearn Neighbors library.
'''
model=KNeighborsClassifier(n_neighbors=15,metric='euclidean')

In [22]:
#Training the model
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')

In [23]:
#Finding the accuracy for training dataset
model.score(x_train,y_train)

0.694560669456067

In [24]:
#Finding the accuracy for the test dataset
'''Here we can see that the hear failure prediction failure is increases by
approx 78%, and there are could be many reasons such as high blood pressure,
smoking, diabetes etc.'''
model.score(x_test,y_test)

0.7833333333333333